.trash {
  background-image: url("../images/trash.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
}

table {
  width: 100%;
}

section {
  width: 900px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.tdId {
  width: 40px;
}

.tdTitle {
  width: 15%;
}

.tdShort {
  width: 30%;
}

.tdLong {
  text-overflow: ellipsis;
}

.tdPhoto {
  width: 60px;
}

.tdTrash {
  width: 60px;
}
