section {
  width: 900px;
  display: flex;
  margin: 0 auto;
  padding: 16px 15px 64px 15px;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

label {
  font-size: 18px;
}

.textInput {
  font-size: 16px;
  max-width: 400px;
  width: 50%;
}

textarea {
  height: 200px;
}
